Regulation 1028/2014 Requirements for the Performance and the Interoperability of Surveillance for the SES











  Regulation 1028/2014 Requirements for the Performance and the Interoperability of Surveillance for the SES









Article Information

Category:



Single European Sky 








Content source:




 SKYbrary





 









Content control:




 EUROCONTROL





 















Note: Regulation 1207/2011 (and consequently, this Regulation) was repealed by Regulation 2023/1770 and is no longer in force.
Commission Implementing Regulation (EU) No 1028/2014 of 26 September 2014 amending Implementing Regulation (EU) No 1207/2011 laying down requirements for the performance and the interoperability of surveillance for the single European sky - text published in the Official Journal of the European Union 
Objective
To amend Regulation 1207/2011 so as to provide the operators with sufficient additional time to equip new aircraft with ADS-B ‘Out’ and Mode S Enhanced Surveillance (EHS) capability.
Summary
Regulation (EU) No 1207/2011 is amended, so as to provide the operators concerned with sufficient additional time to meet its requirements regarding the implementation of ADS-B 'Out' and Mode S Enhanced Surveillance (EHS) capability on board of aircraft. A number of factors lead to the decision to postpone the requirements' implementation date, namely:

In order to be able to equip new aircraft with new capabilities operators must have the necessary specifications at least 24 months before the application date. The latter were adopted in December 2013 making it impossible for operators to comply by 8 January 2015.
Delays in certification and in equipment availability, as well as industrial capacity constraints, affect the smooth retrofitting of existing fleet.
State aircraft operators should benefit from similar postponements in implementation dates as other operators of aircraft.

The new applicability dates for compliance with the requirements for ADS-B 'Out' and Mode S Enhanced Surveillance (EHS) capability of aircraft with MTOW exceeding 5700 kg or having a maximum cruising true airspeed capability greater than 250 knots are:

8th June 2016 for “new” aircraft (originally 8th January 2015);
7th June 2020 for retrofit (originally 7th December 2017);
7th June 2020 for State aircraft (originally 1st January 2019).

Entry Into Force
This Regulation entered into force in October 2014.
Regulation 1028/2014 - Requirements for the Performance and the Interoperability of Surveillance for the SES (OJ, 30.09.2014)
Related articles

Regulation 1207/2011 - Requirements for the performance and the interoperability of surveillance for the SES
Regulation 552/2004 - Interoperability of the European ATM Network
Single European Sky (SES) II

Further Reading
European Commission

EUR-Lex Portal: Regulation 1028/2014 (available in different languages and file formats)
Air Transport Portal of the European Commission - Single European Sky





Categories


Single European Sky,
              SES Implementing Rules












Feedback