Regulation 1029/2014 Requirements on the Quality of Aeronautical Data and Aeronautical Information for the SES











  Regulation 1029/2014 Requirements on the Quality of Aeronautical Data and Aeronautical Information for the SES









Article Information

Category:



Single European Sky 








Content source:




 SKYbrary





 









Content control:




 EUROCONTROL





 















Note: Regulation 73/2010 (and consequently, this Regulation) was repealed by Regulation 2020/469 and is no longer in force.
Commission Implementing Regulation (EU) No 1029/2014 of 26 September 2014 amending Regulation (EU) No 73/2010 laying down requirements on the quality of aeronautical data and aeronautical information for the single European sky - text published in the Official Journal of the European Union 
Objective
To amend Regulation 73/2010 by updating definitions and references.
Summary
After the adoption of Regulation 73/2010 some of the existing documents refered to therein were amended or repealed, namely:

Regulation 2096/2005 was repealed by Regulation 1035/2011, which, in turn, was repealed by Regulation 2017/373 in 2020.
Some standards laid down by the International Standardisation Organisation (ISO) were revised and renumbered.
Various definitions and provisions laid down in Annex 15] to the Chicago Convention were amended as well as some of the structure.

Entry Into Force
This Regulation entered into force in October 2014.
Regulation 1029/2014 - Requirements on the Quality of Aeronautical Data and Aeronautical Information for the SES (OJ, 30.09.2014)
Related articles

Regulation 552/2004 - Interoperability of the European ATM Network
Single European Sky (SES) II

Further Reading
European Commission

EUR-Lex Portal: Regulation 1029/2014 (available in different languages and file formats)
Air Transport Portal of the European Commission - Single European Sky





Categories


Single European Sky,
              SES Implementing Rules












Feedback