Regulation (EU) No 2018/1048 - Airspace Usage Requirements and Operating Procedures Concerning PBN











  Regulation (EU) No 2018/1048 - Airspace Usage Requirements and Operating Procedures Concerning PBN









Article Information

Category:



Single European Sky 








Content source:




 SKYbrary





 









Content control:




 SKYbrary





 















Commission Implementing Regulation (EU) 2018/1048 of 18 July 2018 laying down airspace usage requirements and operating procedures concerning performance-based navigation - text published in the Official Journal of the European Union 
Objective
This regulation establishes airspace usage requirements and operating procedures concerning Performance Based Navigation (PBN) in EU airspace.
Summary
Scope
This Regulation applies to providers of ATM/ANS and operators of aerodromes that put in place instrument approach procedures or ATS routes in the airspace above the territory to which the EU Treaty applies or in any other airspace where EU Member States are responsible for the provision of ANS.
PBN Requirements
Approach procedures are to be in accordance with the requirements of the RNP approach specification, including LNAV, LNAV/VNAV and LPV minima (and radius to fix legs if required).
If the implementation of 3D approach procedures is excessively difficult, providers of ATM/ANS shall implement 2D approach procedures in accordance with the RNP approach specification. In that case, 3D approach procedures may also be implemented.
If there is no appropriate SBAS coverage, RNP approach procedures are to be implemented, including LNAV and LNAV/VNAV minima. When appropriate SBAS coverage is available, LPV minima are to be implemented within 18 months.
SID and STAR routes are to be implemented in accordance with the requirements of RNAV 1 specification. In case of higher performace requirements regarding the SID and STAR routes, the SID and STAR routes are to be implemented in accordance with the RNP 1 specification, including one or more of the following navigation functionalities:

operations along a vertical path and between two fixes and with the use of:

an ‘AT’ altitude constraint;
an ‘AT OR ABOVE’ altitude constraint;
an ‘AT OR BELOW’ altitude constraint;
a ‘WINDOW’ constraint;


the radius to fix leg.

ATS routes for en route operations are to be implemented in accordance with the RNAV 5 specification.
ATS routes, SID routes or STAR routes for rotorcraft operations are to be implemented in accordance with RNP 0.3, RNAV 1 or RNP 1 specifications. The providers may decide which of the three sets of requirements to comply with.
Transitional Measures
Providers of ATM/ANS are to ensure a smooth and safe transition to the service provision using PBN. A transition plan is to be established, implemented and kept up-to-date. The following parties are to be consulted during the transition plan drafting:

aerodrome operators, airspace users and their representative organisations;
the Network Manager;
providers of ATM/ANS in adjacent airspace blocks.

After the consultation, the providers of ATM/ANS are to submit the draft transition plan for approval to the competent authority. That competent authority shall verify whether the draft transition plan complies with the requirements of this Regulation and inform the providers without undue delay. The establishment or implementation of the transition plan may only start after the approval of the competent authority.
Any significant update of the transition plan is to undegro the same consultation and approval procedure.
Excluseive Use of PBN
Providers of ATM/ANS shall not provide their services using conventional navigation procedures, or using PBN which is not in accordance with the requirements of this Regulation.
Entry Into Force
This Regulation entered into force in August 2018 and is applicable from December 2020 onward.
By way of derogation:

The exclusive use of PBN shall apply from June 2030.
The approach procedure requirement shall apply from January 2024
The SID and STAR route requirement shall apply from January 2024 for one route and from June 2030 for all routes.
The ATS route requirement shall apply from January 2024 for ATS routes below FL 150.

Related articles

Regulation 2018/1139 - Common Rules in the Field of Civil Aviation and Establishing EASA
Single European Sky (SES) II

Further Reading
European Commission

EUR-Lex Portal: Regulation 2018/1048 (available in different languages and file formats)
Air Transport Portal of the European Commission - Single European Sky





Categories


Single European Sky,
              SES Implementing Rules












Feedback