Regulation 1206/2011 Requirements on Aircraft Identification for Surveillance of the SES











  Regulation 1206/2011 Requirements on Aircraft Identification for Surveillance of the SES









Article Information

Category:



Single European Sky 








Content source:




 SKYbrary





 









Content control:




 EUROCONTROL





 















Note: This Regulation was repealed by Regulation 2023/1770 and is no longer in force.
Commission Implementing Regulation (EU) No 1206/2011 of 22 November 2011 laying down requirements on aircraft identification for surveillance for the single European sky - text published in the Official Journal of the European Union
Objective
To lay down requirements for the systems contributing to the provision of surveillance information, their constituents and associated procedures in order to ensure the unambiguous and continuous individual identification of aircraft within the EATMN.
Summary
Scope
This Regulation applies to all parts of the surveillance chain, namely:

airborne systems and associated procedures;
ground-based systems and associated procedures;
systems and procedures for air traffic services, in particular:

flight data processing systems;
surveillance data processing systems;
human machine interface systems.


ground-to-ground and air-to-ground communication systems and associated procedures used for the distribution of surveillance data.

This Regulation applies to all flights operating as general air traffic in accordance with Instrument Flight Rules (IFR) within the International Civil Aviation Organisation (ICAO) EUR and AFI regions.
Performance Requirements
Member States shall ensure the capability to identify aircraft using downlinked identification for at least 50% of:

all over-flights;
total number of all arriving and departing flights (combined).

Air navigation service providers shall ensure that by 2 January 2020, the cooperative surveillance chain has the capability to identify aircraft using downlinked aircraft identification.
Air navigation service providers shall ensure that:

ground-based systems are deployed in accordance with the Regulation requirements.
ground-based systems or procedures include means to inform controllers when SSR code assignments are unintentionally duplicated.

Member States shall ensure that the integrated initial flight plan processing system communicates to all affected air navigation service providers those flights that are eligible for the use of the conspicuity code. The single conspicuity code is agreed by all Member States and coordinated with European third countries for assignment solely to aircraft where identification is established by using the downlinked aircraft identification feature.
Safety Requirements
Member States shall ensure that any changes to the existing systems or the introduction of new systems are preceded by a safety assessment.
Verification of Systems
Air navigation service providers shall conduct a verification of the systems or sub-contract the verification to a notified body. Certification processes shall be considered as acceptable procedures if they include the demonstration of compliance with the requirements of this Regulation.
Additional Requirements
Air navigation service providers shall:

ensure that all personnel are adequately trained.
develop and maintain operations manuals to enable the application of this Regulation;
ensure that the manuals are accessible and kept up-to-date;
ensure that the working methods and operating procedures comply with this Regulation.

Operators shall ensure that:

the personnel operating and maintaining surveillance equipment are adequately trained and instructions about how to use that equipment are available in the cockpit.
the downlinked aircraft identification feature is provided on aircraft when operationally required.
the setting of the downlinked aircraft identification feature complies with item 7 ‘aircraft identification’ of the flight plan.
the downlinked aircraft identification feature is not changed during the flight unless requested by the air navigation service provider.

Member States shall ensure compliance with this Regulation including the publication of relevant information in the national AIPs.
Exemptions
For the specific case of approach areas where air traffic services are provided by military units or under military supervision and when procurement constraints prevent compliance, Member States shall communicate to the Commission by 31 December 2017 at the latest, the date of compliance with downlinked aircraft identification that shall not be later than 2 January 2025.
Following consultation with the Network Manager and not later than 31 December 2018, the Commission may review the exemptions that could have a significant impact on the EATMN.
Amendment
This Regulation was amended by Regulation 2020/587 of 29 April 2020.
The most notable change was that a new provision was added: State aircraft engaged on nationally sensitive operations or training, that require security and confidentiality, are not to be assigned a conspiquity code.
A consolidated version of the Regulation can be found here. It includes amendments by Regulation 2020/587.
Entry Into Force
This Regulation entered into force in December 2011.
This Regulation applies from 9 February 2012.
This Regulation was repealed by Regulation 2023/1770 and is no longer in force.
Regulation 1206/2011 - Requirements on Aircraft Identification for Surveillance of the SES (OJ, 23.11.2011)
Related articles

Regulation 552/2004 - Interoperability of the European ATM Network
Single European Sky (SES) II

Further Reading
European Commission

EUR-Lex Portal: Regulation 1206/2011 (available in different languages and file formats)
Air Transport Portal of the European Commission - Single European Sky





Categories


Single European Sky,
              SES Implementing Rules












Feedback