Regulation 30/2009 Requirements for Automatic Systems for the Exchange of Flight Data Supporting Data Link Services











  Regulation 30/2009 Requirements for Automatic Systems for the Exchange of Flight Data Supporting Data Link Services









Article Information

Category:



Single European Sky 








Content source:




 SKYbrary





 









Content control:




 EUROCONTROL





 















Note: Regulation 1032/2006 (and consequently, this Regulation) was repealed by Regulation 2023/1771 and is no longer in force.
Commission Regulation (EC) No 30/2009 of 16 January 2009 amending Regulation (EC) No 1032/2006 as far as the requirements for automatic systems for the exchange of flight data supporting data link services are concerned - text published in the Official Journal of the European Union 
Objective
To amend Regulation 1032/2006 by specifying interoperability and performance requirements for ANSPs.
Summary
ACCs providing data link services should have timely access to the appropriate flight information. In order to enable the next ATC unit to start exchanging data with the aircraft, where there is no in-common data link connectivity service between ACCs, automated processes related to logon information and communication with the next authority should be implemented.
This Regulation specifies the interoperability and performance requirements for ANSPs by amending Annexes I and III to Regulation 1032/2006. Among other things, requiremets are defined for:

LOGON FORWARD (LOF) message;
NEXT AUTHORITY NOTIFIED (NAN) message.

Entry Into Force
This Regulation entered into force in February 2009.
This Regulation amends Regulation 1032/2006.
Regulation 30/2009 - Requirements for Automatic Systems for the Exchange of Flight Data Supporting Data Link Services (OJ, 17.01.2009)
Related articles

Regulation 552/2004 - Interoperability of the European ATM Network
Single European Sky (SES) II

Further Reading
European Commission

EUR-Lex Portal: Regulation 30/2009 (available in different languages and file formats)
Air Transport Portal of the European Commission - Single European Sky





Categories


Single European Sky,
              SES Implementing Rules












Feedback