Regulation 1332/2011 Common Airspace Usage Requirements and Operating Procedures for Airborne Collision Avoidance











  Regulation 1332/2011 Common Airspace Usage Requirements and Operating Procedures for Airborne Collision Avoidance









Article Information

Category:



Single European Sky 








Content source:




 SKYbrary





 









Content control:




 EUROCONTROL





 















Commission Regulation (EU) No 1332/2011 of 16 December 2011 laying down common airspace usage requirements and operating procedures for airborne collision avoidance - text published in the Official Journal of the European Union
Background
Following a series of mid-air encounters in which safety margins have been lost, including accidents in Yaizu (Japan) in 2001 and in Überlingen (Germany) in 2002, it was considered necessary to upgrade the current airborne collision avoidance system software. Dedicated studies concluded that with the current airborne collision avoidance system software there is a probability of a mid-air collision risk of 2,7 × 10 –8 per flight hour. Therefore the current ACAS II version 7.0 is considered to be of an unacceptable safety risk.
The new software version of the airborne collision avoidance system (ACAS II) to avoid mid-air collision shall be implemented at all aircraft flying in the airspace covered by Regulation (EC) No 216/2008. To ensure the highest possible safety standards, aircraft which do not fall within the scope of the mandatory carriage requirement, but were equipped with ACAS II prior to entry into force of this Regulation, should install ACAS II containing the latest version of collision avoidance software.
In order to ensure that the safety benefits associated with the new software version are achieved, all aircraft need to be equipped as soon as practically possible. However, it is necessary to provide a realistic time for the aeronautical industry to adapt to this new Regulation taking into account the availability of new equipment.
Objective
To establish common airspace usage requirements and operating procedures for airborne collision avoidance.
Summary
Scope
This Regulation applies to operators undertaking flights

into, within or out of the Union
within the airspace above the territory to which the EU Treaty applies as well as in any other airspace where Member States apply Regulation (EC) No 551/2004.

Requirements to Aircraft
The following turbine-powered aeroplanes shall be equipped with collision avoidance logic version 7.1 of Airborne Collision Avoidance System (ACAS) II:

aeroplanes with a maximum certificated take-off mass exceeding 5 700 kg; or
aeroplanes authorised to carry more than 19 passengers.

The above requirement shall not apply to unmanned aircraft systems.
Other aircraft which are equipped on a voluntary basis with ACAS II, shall have collision avoidance logic version 7.1.
ACAS Procedures
ACAS II shall be used during flight, (except as provided in the minimum equipment listas specified in Annex III to Regulation (EEC) No 3922/91) in a mode that enables RA indications to be produced for the flight crew when undue proximity to another aircraft is detected, unless inhibition of RA indication mode is called for by an abnormal procedure or due to performance limiting conditions.
When an RA indication is produced by ACAS II:

the pilot flying shall immediately conform to the RA indication, even if this conflicts with an ATC instruction, unless doing so would jeopardise the safety of the aircraft;
the flight crew, as soon as permitted by workload, shall notify the appropriate ATC unit of any RA which requires a deviation from the current ATC instruction or clearance;
when the conflict is resolved, the aircraft shall:

be promptly returned to the terms of the acknowledged ATC instruction or clearance and ATC notified of the manoeuvre; or
comply with any amended ATC clearance or instruction issued.



ACAS II Training
Operators shall establish ACAS II operational procedures and training programmes so that the flight crew is appropriately trained in the avoidance of collisions and competent in the use of ACAS II equipment.
Entry Into Force
This Regulation entered into force in January 2012.
Provisions regarding aircraft and procedures apply as of 1 March 2012.
By way of derogation, in the case of aircraft with an individual certificate of airworthiness issued before 1 March 2012, the provisions shall apply as of 1 December 2015.
Regulation 2016/583 amended this Regulation by removing obsolete provisions.
For the complete details about its entry into force and application and the special provisions applying to operators subject to Council Regulation (EEC) No 3922/91, read the full text of the Regulation
Regulation 1332/2011 - Common Airspace Usage Requirements and Operating Procedures for Airborne Collision Avoidance (OJ, 20.12.2011)
Related articles

Regulation 2018/1139 - Common Rules in the Field of Civil Aviation and Establishing EASA
Single European Sky (SES) II

Further Reading
European Commission

EUR-Lex Portal: Regulation 1332/2011 (available in different languages and file formats)
Air Transport Portal of the European Commission - Single European Sky





Categories


Single European Sky,
              SES Implementing Rules,
              Rules












Feedback