Regulation 1079/2012 Requirements for Voice Channels Spacing for the SES











  Regulation 1079/2012 Requirements for Voice Channels Spacing for the SES









Article Information

Category:



Single European Sky 








Content source:




 SKYbrary





 









Content control:




 EUROCONTROL





 















Note: This Regulation was repealed by Regulation 2023/1770 and is no longer in force.
Commission Implementing Regulation (EU) No 1079/2012 of 16 November 2012 laying down requirements for voice channels spacing for the single European sky - text published in the Official Journal of the European Union
Objective
To lay down requirements for the coordinated introduction of air-ground voice communications based on 8,33 kHz channel spacing.
Summary
Scope
This Regulation shall apply to all radios operating in the 117,975-137 MHz band (‘the VHF band’) allocated to the aeronautical mobile route service.
This Regulation shall apply to all flights operating as general air traffic, within the airspace of the International Civil Aviation Organisation (ICAO) EUR region.
The conversion requirements shall not apply to the following frequencies:

the emergency frequency (121,5 MHz);
the auxiliary frequency for search and rescue operations (123,1 MHz);
the VHF digital link (VDL) frequencies (136,725 MHz, 136,775 MHz, 136,825 MHz, 136,875 MHz, 136,925 MHz and 136,975 MHz);
the ACARS frequencies (131,525 MHz, 131,725 MHz and 131,825 MHz);

This Regulation does not cover military operations and training.
Performance Requirements
Air navigation service providers, operators and other users or owners of radios shall ensure that

all radio equipment put into service from 17 November 2013, includes the 8,33 kHz channel spacing capability;
from 17 November 2013 their radios include the 8,33 kHz channel spacing capability whenever they are subject to radio upgrades.

In addition to 8,33 kHz channel spacing capability, the equipment shall be able to tune to 25 kHz spaced channels.
The equipment performance shall comply with the relevant ICAO standards (specified in Annex II to this Regulation).
Obligations of Operators
An operator shall not operate an aircraft above FL 195 unless the aircraft radio equipment has the 8,33 kHz channel spacing capability.
From 1 January 2014 an operator shall not operate an aircraft flying under Instrument Flight Rules (IFR) in airspace class A, B or C of certain Member States unless equipped with the 8,33 kHz channel spacing capability.
An operator shall not operate an aircraft flying under Visual Flight Rules (VFR) in areas operating in 8,33 kHz channel spacing unless the equipped with the 8,33 kHz channel spacing capability.
From 1 January 2018 an operator shall not operate an aircraft in airspace where carriage of radio is required unless equipped with the 8,33 kHz channel spacing capability.
Requirements on 8,33 kHz Conversions
Member States shall ensure that for sectors with a lower level at or above FL 195 all voice frequency assignments are converted to 8,33 kHz channel spacing.
Certain Member States shall implement, by 31 December 2014, a number of new 8,33 kHz channel spacing conversions equivalent to at least 25 % of the total number of the 25 kHz frequency assignments in the central register and allocated to a specific ACC in a Member State (Note: the text in bold was further clarified by Regulation 657/2013). If the 25 % target cannot be achieved, the Member State shall provide justification for this and propose an alternative date. These States shall also ensure that from 1 January 2015, all operational control communication frequency assignments in the central register are 8,33 kHz.
Member States shall ensure that by 31 December 2018 all frequency assignments are converted to 8,33 kHz channel spacing with the exception of:

frequency assignments that stay in 25 kHz as a result of a safety requirement;
25 kHz frequency assignments used to accommodate State aircraft.

Obligations of Air Navigation Service Providers
Air navigation service providers shall ensure that their 8,33 kHz channel spacing voice communication systems allow an operationally acceptable voice communication.
The flight data processing systems shall have the following features regarding the information about the 8,33 kHz channel spacing capability of each flight:

this information shall be transmitted between ATC units;
this information shall be made available at the appropriate working position;
the controller shall have the means to modify this information.

Arrangements for State Aircraft
Member States shall ensure that:

transport-type State aircraft operating flights above FL 195 are equipped with radios having the 8,33 kHz channel spacing capability.
non-transport-type State aircraft operating flights above FL 195 are equipped with radios having the 8,33 kHz channel spacing capability.
new State aircraft entering into service from 1 January 2014 are equipped with radios having the 8,33 kHz channel spacing capability. Whenever the radios installed on-board the State aircraft are subject to upgrade, the new ones shall have the 8,33 kHz channel spacing capability.
all State aircraft are equipped with radios having the 8,33 kHz channel spacing capability by 31 December 2018 at the latest.

Air traffic service providers shall ensure that State aircraft not equipped with radios having the 8,33 kHz channel spacing capability can be accommodated.
Member States shall publish procedures for the handling of State aircraft which are not equipped with radios having the 8,33 kHz channel spacing capability in their national AIPs.
Exemptions
Member States may issue temporary derogations for flights operated under VFR.
Member States may take local measures granting exemptions for cases having limited impact on the network. These have to be justified before the Commission.
Entry Into Force
This Regulation entered into force in December 2012.
This Regulation repeals Regulation 1265/2007.
This Regulation was amended by

Regulation 657/2013.
Regulation 2016/2345. This amendment updated relevant references to ICAO provisions.
Regulation 2017/2160. This amendment updated relevant references to ICAO provisions.

Note: This Regulation was repealed by Regulation 2023/1770 and is no longer in force.
Regulation 1079/2012 - Requirements for Voice Channels Spacing for the SES (OJ, 17.11.2012)
Related articles

Regulation 552/2004 - Interoperability of the European ATM Network
Single European Sky (SES) II

Further Reading
European Commission

EUR-Lex Portal: Regulation 1079/2012 (available in different languages and file formats)
Air Transport Portal of the European Commission - Single European Sky





Categories


Single European Sky,
              SES Implementing Rules












Feedback