Pilot Health: European Regulatory Requirements











  Pilot Health: European Regulatory Requirements









Article Information

Category:



Rules 








Content source:




 SKYbrary





 









Content control:




 SKYbrary





 















Background
Andreas Lubitz, the co-pilot of Germanwings flight 9525, during a flight from Barcelona to Dusseldorf on 24 March 2015, took control of the flight and crashed it voluntarily in order to commit suicide. Since the crash of Germanwings flight 9525, pilot mental health has received significant scrutiny by airlines and safety regulators.
Regulatory activity
Out of the recognition that pilot mental health can significantly impair flight safety, as well as the issues identified by the EASA-led Germanwings task force, the European Union Aviation Safety Agency (EASA) has published two opinion documents following industry consultation. These are Opinion 09/2016 and Opinion 14/2016 amending respectively the European air operations (AIR OPS) and aircrew regulations (AIR CREW). Opinion 14/2016 was voted by the European Parliament in 2018 as Commission Regulation (EU) 2018/1042 and it will apply from 14 August 2020. Opinion 09/2016 is currently still pending.
Air crew regulations
Opinion 09/2016 addresses efficiency/proportionality as well safety issues related to Annex IV (Part-MED) to Commission Regulation (EU) No 1178/2011 (EASA AIR CREW). The changes proposed by Opinion 09/2016 are expected to improve the level of safety by introducing new requirements:

to strengthen class 1 medical examination for applicants for and holders of certificates by including drugs and alcohol screening and comprehensive mental health assessment as well as improved follow-up in case of medical history of psychiatric conditions;
for aero-medical centres (AeMC) and aero-medical examiners (AME) to report to the competent authority all incomplete medical assessments, thus preventing fraud attempts;
to increase the quality of the aero-medical examinations by improving the training, oversight and competency assessment of the AMEs; and
for the holders of medical certificates to return them to the licensing authority in case of suspension and revocation of their medical certificates.

Air operations regulations
The changes to EASA AIR OPS regulations in relation to pilot mental health requirements are reported in Commission Regulation (EU) 2018/1042, which is the result of the adoption by the European parliament of EASA opinion 14/2016.
Commission Regulation (EU) 2018/1042 introduces a set of three main preventive measures to be implemented by air operators in Europe:

carrying out a psychological assessment of the flight crew before commencing line flying;
enabling, facilitating and ensuring access to a flight crew support programme; and
performing systematic drug and alcohol (D&A) testing of flight and cabin crew upon employment.

Psychological assessment
Air operators are required to take measures to ensure that no person recklessly, intentionally or negligently acts or omits to act so as to endanger an aircraft or person therein or cause or permit an aircraft to endanger any person or property.
For this to happen air operator are required to ensure that flight crew has undergone a psychological assessment before commencing line flying in order to identify psychological attributes and suitability of the flight crew in respect of the work environment and to reduce the likelihood of negative interference with the safe operation of the aircraft.
Considering the size, nature and complexity of the activity of an operator, an operator may replace the psychological assessment with an internal assessment of the psychological attributes and suitability of flight crew.
Support programme
Air operators are required to enable, facilitate and ensure access to a proactive and non-punitive support programme that will assist and support flight crew in recognising, coping with, and overcoming any problem which might negatively affect their ability to safely exercise the privileges of their licence. Such access shall be made available to all flight crew.
Without prejudice to applicable national legislation on the protection of individuals with regard to the processing of personal data and on the free movement of such data, the protection of the confidentiality of data is a required precondition for an effective support programme as it encourages the use of such a programme and ensures its integrity.
Prevention of psychoactive substance misuse
Air operators are required to take all reasonable measures to ensure that no person enters or is in an aircraft when under the influence of psychoactive substances to the extent that the safety of the aircraft or its occupants is likely to be endangered.
Fort this to happen air operators are required to develop and implement a policy on the prevention and detection of misuse of psychoactive substances by flight and cabin crew members and by other safety-sensitive personnel under its direct control, in order to ensure that the safety of the aircraft or its occupants is not endangered.
Without prejudice to the applicable national legislation on data protection concerning testing of individuals, the operators are required to develop and implement an objective, transparent and non-discriminatory procedure for the prevention and detection of cases of misuse of psychoactive substances by its flight and cabin crew and other safety-sensitive personnel.
In case of a confirmed positive test result, the operators are required to inform the competent authority and the authority responsible for the personnel concerned, such as a medical assessor of the licensing authority.
Under the requirements of Commission Regulation (EU) 2018/1042 competent authorities are also required to carry out alcohol testing on flight and cabin crew as part of their ramp inspection programmes.
Related Articles

EASA AIR OPS
EASA AIR CREW

Further Reading

EASA opinion 09/2016 Update of Part-MED
EASA opinion 14/2016 Aircrew Medical Fitness
Commission Regulation (EU) 2018/1042





Categories


Rules












Feedback