Regulation 2017/386 Requirements for the Performance and the Interoperability of Surveillance for the SES











  Regulation 2017/386 Requirements for the Performance and the Interoperability of Surveillance for the SES









Article Information

Category:



Single European Sky 








Content source:




 SKYbrary





 









Content control:




 EUROCONTROL





 















Note: This Regulation was repealed by Regulation 2023/1770 and is no longer in force.
Commission Implementing Regulation (EU) No 2017/386 of 6 March 2017 amending Implementing Regulation (EU) No 1207/2011 laying down requirements for the performance and the interoperability of surveillance for the single European sky - text published in the Official Journal of the European Union 
Objective
To amend Regulation 1207/2011 by giving operators additional time to comply with the equipment requirements.
Summary
A number of factors lead to the decision to postpone the implementation dates, namely:

some certification specifications developed by European Aviation Safety Agency (EASA) are to a certain extent inconsistent with the requirements of Regulation 1207/2011.
some airborne constituents of the surveillance systems (especially some Mode S Elementary transponders) are not always compliant with Regulation 1207/2011. A single upgrade with the three functionalities (Mode S Elementary, Mode S Enhanced and ADS-B 'Out') is preferred for cost efficiency reasons.
taking into account the additional delays in the certification and in the availability of the equipment, it is no longer appropriate to distinguish between aircraft based on the date of their individual certificate of airworthiness.
Member States need to ensure that ANSPs have the necessary tools and means of compliance in order to avoid the production of harmful interference by ground-based surveillance systems. Taking into account that those are not readily available, Member States are given additional time to comply.
operators of State aircraft should benefit from similar postponements in implementation dates as operators of other aircraft.

The new applicability date for operators to comply with the transponder requirements is 07.06.2020 (previously 7.12.2017). This date also applies to State aircraft.
Member states shall communicate to the Commission a list of State aircraft that cannot comply with the requirements as well as the reasons for this by 01.01.2019 (previously 01.07.2016 or 01.07.2018).
The new applicability date for ANSPs to comply with the harmful interference requirements is 02.01.2020 (previously 05.02.2015)
Entry Into Force
This Regulation entered into force in March 2017.
This Regulation amends Regulation 1207/2011.
Note: This Regulation was repealed by Regulation 2023/1770 and is no longer in force.
Regulation 2017/386 - Requirements for the Performance and the Interoperability of Surveillance for the SES (OJ, 07.03.2017)
Related articles

Regulation 552/2004 - Interoperability of the European ATM Network
Single European Sky (SES) II

Further Reading
European Commission

EUR-Lex Portal: Regulation 2017/386 (available in different languages and file formats)
Air Transport Portal of the European Commission - Single European Sky





Categories


Single European Sky,
              SES Implementing Rules












Feedback