In-flight Seat Belt Requirements











  In-flight Seat Belt Requirements









Article Information

Category:



Cabin Safety 








Content source:




 SKYbrary





 









Content control:




 SKYbrary





 















Legislation Requirements
Relevant regulations (e.g. Commission regulation (EC) No 859/2008 for the EU, Regulation 14 CFR 91.107 in the US) determine the seat belt requirements on passenger aircraft.
Although there might be slight differences in the details in different parts of the world, the most common rules are:

The operator must ensure that each person on board is provided a seat with a seat belt or a safety harness. Safety belts with shoulder harness must have a single point release.
Passengers must receive a demonstration of the use of seat belts before take-off and are reminded of their use:

After take-off (this reminder includes the safety benefits of having the seat belts fastened when seated irrespective of the seat belt sign illumination);
Before landing;
After landing;


The commander must ensure that each passenger occupies a seat and is properly secured with a safety belt or harness:

during taxi, take-off and landing;
whenever deemed necessary in the interest of safety;


Multiple occupancy is only allowed by the regulations of certain countries and then only on specified seats and only applies to having one adult and one infant using the same seat and being properly secured.
Cabin crew members must be secured by safety belts and harnesses:

during take-off and landing;
whenever deemed necessary by the commander in the interest of safety;
whenever they are at their station;



Seat Belt Requirements and Recommendations Rationale
Seat belts restrain the body movement when excessive force is applied (e.g. in a crash, during severe turbulence, etc.) which helps people survive by:

preventing people from being thrown around the aircraft and into hard objects or other persons;
preventing people being thrown out of the aircraft in case of a hull breach, either in flight or during a high impact crash;

Since it is generally not known when an aircraft will pass through turbulence (especially clear air turbulence), it is in the interest of safety that all passengers on board are secured in their seats for as much of the time as practical.
Fatal injuries resulting of non compliance with the in-flight seat belts requirements:

B772, San Francisco CA USA, 2013: On 6 July 2013, a Boeing 777-200ER (HL7742) being operated by Asiana Airlines, on a scheduled passenger flight (214) from Seoul Incheon to San Francisco, crashed within the airport perimeter shortly before completing a landing in day VMC after the aircraft had hit the sea wall situated prior to the runway and the tail had detached. A few occupants were ejected at impact but most managed to evacuate subsequently and before fire took hold. Neither of the two ejected passengers were wearing their seatbelts and the Investigation concluded that their ejection was attributed entirely to that fact and that they would otherwise have remained in the cabin and survived.

Exception
There is one notable exception to the “always fasten your seat belt while seated” rule. When refueling with passengers on board takes place the “fasten seat belts” signs must be off and the flight crew must brief the passengers to unfasten the seat belts.
Related Articles

Aircraft Emergency Floor Path Illumination
Post Crash Fires
Passenger Cabin Loading
Refuelling with Passengers on Board

Further Reading

Commission regulation (EC) No 859/2008, of 20 August 2008 amending Council Regulation (EEC) No 3922/91 as regards common technical requirements and administrative procedures applicable to commercial transportation by aeroplane
Regulation 14 CFR 91.107, Use of safety belts, shoulder harnesses, and child restraint systems. 05/20/2014
Child Restraint Systems and Airline Travel, 03/07/2013





Categories


Cabin Safety












Feedback