Regulation 657/2013 Requirements for Voice Channels Spacing for the SES











  Regulation 657/2013 Requirements for Voice Channels Spacing for the SES









Article Information

Category:



Single European Sky 








Content source:




 SKYbrary





 









Content control:




 EUROCONTROL





 















Note: Regulation 1079/2012 (and consequently, this Regulation) was repealed by Regulation 2023/1770 and is no longer in force.
Commission Implementing Regulation (EU) No 657/2013 of 10 July 2013 amending Implementing Regulation (EU) No 1079/2012 laying down requirements for voice channels spacing for the single European sky - text published in the Official Journal of the European Union 
Objective
To amend Regulation 1079/2012 by clarifying the target for new 8,33 kHz channel spacing conversions in member states that have more than one ACC.
Summary
The requirement for new 8,33 kHz channel spacing conversions explicitly applies to the total number of the 25 kHz frequency assignments in the central register and allocated to ACCs in the Member State.
The relevant article in Regulation 1079/2012 stated that the requirement applied to the frequencies, allocated to a specific ACC in a Member State. This created ambiguity in case there was more than one ACC in a member state.
Entry Into Force
This Regulation entered into force in July 2013.
This Regulation shall apply from 7 December 2012.
Regulation 657/2013 - Requirements for Voice Channels Spacing for the SES (OJ, 11.07.2013)
Related articles

Regulation 552/2004 - Interoperability of the European ATM Network
Single European Sky (SES) II

Further Reading
European Commission

EUR-Lex Portal: Regulation 657/2013 (available in different languages and file formats)
Air Transport Portal of the European Commission - Single European Sky





Categories


Single European Sky,
              SES Implementing Rules












Feedback