Regulation 441/2014 Requirements on Data Link Services for the SES











  Regulation 441/2014 Requirements on Data Link Services for the SES









Article Information

Category:



Single European Sky 








Content source:




 SKYbrary





 









Content control:




 EUROCONTROL





 















Note: Regulation 29/2009 (and consequently, this Regulation) was repealed by Regulation 2015/310 and is no longer in force.
Commission Implementing Regulation (EU) No 1028/2014 of 30 April 2014 amending Regulation (EC) No 29/2009 laying down requirements on data link services for the single European sky - text published in the Official Journal of the European Union 
Objective
To amend Regulation 29/2009 so as to provide a transition period of one year for Croatia to comply with the requirements for the introduction of data link services.
Summary
Croatia joined the European Union on 1 July 2013. The Croatian airspace had to therefore be added to the airspace in which Regulation 29/2009 applies.
A transition period of one year, compared to the date of application of 5 February 2015 that applied for the other Member States was provided for Croatia, to enable regulated parties, such as operators and air traffic service providers, to prepare for the application of the new rules.
Entry Into Force
This Regulation entered into force in May 2014.
This Regulation shall apply from 5 February 2016.
Regulation 441/2014 - Requirements on Data Link Services for the SES (OJ, 01.05.2014)
Related articles

Regulation 552/2004 - Interoperability of the European ATM Network
Single European Sky (SES) II

Further Reading
European Commission

EUR-Lex Portal: Regulation 441/2014 (available in different languages and file formats)
Air Transport Portal of the European Commission - Single European Sky





Categories


Single European Sky,
              SES Implementing Rules












Feedback