European Cabin Crew Medical Fitness Requirements











  European Cabin Crew Medical Fitness Requirements









Article Information

Category:



Personnel Licensing 








Content source:




 SKYbrary





 









Content control:




 EUROCONTROL





 















Introduction
The requirements for periodic attestation of the medical fitness of persons acting as cabin crew on commercial air transport flights introduced under EU-OPS 1.995 are superseded by the applicable part of the EASA Aircrew Regulation, IRs contained in Subpart C of Part-MED. Implementation is mandatory with effect from 8 April 2014. States may utilise transition arrangements after that date where permitted under the Regulation. An example of the latter is the UK, which has announced that all cabin crew must hold a valid EU medical report from 8 April 2019 but until that date, assessment of fitness for cabin crew duties under EU-OPS requirements will remain valid.
The Regulatory Background
The European Commission Regulation (EU) No 1178/2011 lays down the technical requirements and administrative procedures for civil aviation aircrew in EU and EEA countries. In respect of Cabin Crew, it establishes Implementing Rules for their periodic aero-medical assessment and the conditions under which general medical practitioners may act as aero-medical examiners. These rules also cover the conditions for issuing, maintaining, amending, limiting, suspending or revoking attestations of cabin crew medical fitness and detail both the privileges and responsibilities of the holders of such attestations.
The above Regulation has seven Annexes. Annex IV is known as Part-MED and contains the EASA Implementing Rules (IRs) for medical assessment of both pilots and cabin crew. Subpart C of Part-MED contains the IRs applicable to cabin crew medical assessment.
The Part-MED Requirements
In summary, the requirements are that:

cabin crew must be in possession of a valid medical report in order to act in that capacity
there is a system for arranging periodic medical assessment of cabin crew by appropriately qualified persons
a written medical report in a prescribed format shall be provided to the person assessed after the completion of each assessment
the holder of a medical report is responsible for providing a copy of their report or equivalent information to any operator of aircraft on which they intend to work
the maximum elapsed interval between assessments is 3 years

Detailed Implementation of Part-MED
EASA published Acceptable Means of Compliance (AMC) and Guidance Material (GM) in respect of the IRs for Part-MED on 15 December 2011. States may develop and seek approval from EASA for Alternative Means of Compliance (AltMOC). Such action has, for example, been taken by the UK
Accidents & Incidents
Events in the SKYbrary database which include Pilot Medical Fitness as a contributory factor:


B738, Calicut (Kozhikode) India, 2020On 7 August 2020, a Boeing 737-800 making its second attempt to land at Calicut off a night ILS approach with a significant tailwind component became unstabilised and touched down approximately half way down the 2,700 metre-long wet table top runway and departed the end of it at 85 knots before continuing through the RESA and a fence and then dropping sharply onto a road. This caused the fuselage to separate into three pieces with 97 of the 190 occupants including both pilots being fatally or seriously injured and 34 others sustaining minor injuries. Significant fuel spillage occurred but there was no fire.

CRJX / AT75, Tambolaka Indonesia, 2018On 11 May 2018, a Bombardier CRJ1000 climbing on departure from Tambolaka and an ATR72-500 descending inbound there lost safe separation when during opposite turns in visual flight in uncontrolled airspace. Prompt response to both coordinated TCAS RAs resolved the conflict. The Investigation found the departing flight Captain mixed up left and right downwind circuit joining by the ATR 72 and that his inexperienced First Officer had not picked this up. It also noted that this Captain may not have been fit for duty and that all parties may have failed to fully recognise the limitations of ANSP ‘information’ service.

SW4, en-route, North Vancouver BC Canada, 2015On 13 April 2015, a Swearingen SA226 Metro II which had recently departed on a cargo flight was climbing normally when it suddenly entered an unexplained and steep descent a few minutes after takeoff. There were no communications from the pilots. It was later found to have impacted terrain after a rate of descent exceeding 30,000 fpm had created aerodynamic forces which caused structural disintegration to begin before impact. The Investigation could not determine why but concluded that “alcohol intoxication almost certainly played a role” and noted that indications that the Captain was a chronic alcoholic had not prompted any intervention.

B734, Lahore Pakistan, 2015On 3 November 2015, a Boeing 737-400 continued an unstabilised day approach to Lahore. When only the First Officer could see the runway at MDA, he took over from the Captain but the Captain took it back when subsequently sighting it. Finally, the First Officer took over again and landed after recognising that the aircraft was inappropriately positioned. Both main gear assemblies collapsed as the aircraft veered off the runway. The Investigation attributed the first collapse to the likely effect of excessive shimmy damper play and the second collapse to the effects of the first aggravated by leaving the runway.

DH8D, Kathmandu Nepal, 2018On 12 March 2018, a Bombardier DHC8-400 departed the side of landing runway 20 at Kathmandu after erratic visual manoeuvring which followed a mis-flown non-precision approach to the opposite runway direction and was destroyed. The Investigation concluded that the accident was a consequence of disorientation and loss of situational awareness on the part of the Captain and attributed his poor performance to his unfitness to fly due to mental instability. A history of depression which had led to his release from service as a military pilot and a subsequent period of absence from any employment as a pilot was noted.

A320, vicinity Abu Dhabi UAE, 2012On 16 November 2012, Captain of an A320 positioning for approach to Abu Dhabi at night became incapacitated due to a stroke. The First Officer took over control and declared a MAYDAY to ATC. The subsequent approach and landing were uneventful but since the First Officer was not authorised to taxi the aircraft, it was towed to the gate for passenger disembarkation. The investigation found that the Captain had an undiagnosed medical condition which predisposed him towards the formation of blood clots in arteries and veins.

A320, en-route Alpes-de-Haute-Provence France, 2015On 24 March 2015, after waiting for the Captain to leave the flight deck and preventing his return, a Germanwings A320 First Officer put his aircraft into a continuous descent from FL380 into terrain killing all 150 occupants. Investigation concluded the motive was suicide, noted a history of mental illness dating from before qualification as a pilot and found that prior to the crash he had been experiencing mental disorder with psychotic symptoms which had not been detected through the applicable process for medical certification of pilots. Conflict between the principles of medical confidentiality and wider public interest was identified.

A332, vicinity Melbourne Australia, 2013On 8 March 2013, the crew of a Qantas A330 descended below controlled airspace and to 600 feet agl when still 9nm from the landing runway at Melbourne in day VMC after mismanaging a visual approach flown with the AP engaged. An EGWS Terrain Alert was followed by an EGPWS PULL UP Warning and a full recovery manoeuvre was flown. The Investigation found degraded situational awareness had followed inappropriate use of Flight Management System

G115 / GLID, en-route Oxfordshire UK, 2009On 14 June 2009, a Grob 115E Tutor being operated by the UK Royal Air Force (RAF) and based at RAF Benson was conducting aerobatics in uncontrolled airspace near Drayton, Oxfordshire in day VMC when it collided with a Standard Cirrus Glider on a cross country detail from Lasham. The glider was sufficiently damaged that it could no longer be controlled and the glider pilot parachuted to safety. The Tutor entered a spin or spiral manoeuvre which it exited in a steep dive from which it did not recover prior to a ground impact which killed both occupants.

WW24, vicinity John Wayne Airport Santa Ana CA USA, 1993On 15 December 1993, the crew of an IAI Westwind on a domestic passenger charter flight failed to leave sufficient separation between their aircraft and the Boeing 757 ahead on finals in night VMC and lost control or their aircraft which crashed killing all occupants and destroying the aircraft in the impact and post-crash fire.

SF34, vicinity Zurich Switzerland, 2000On 10 January 2000, two minutes and 17 seconds after departure from Zurich airport, at night in instrument meteorological conditions (IMC), a Saab 340 operated by Crossair, entered into right-hand dive and crashed.

B734, en-route, New South Wales Australia, 2007On 11 August 2007, a Qantas Boeing 737-400 on a scheduled passenger service from Perth, WA to Sydney, NSW was about three quarters of the way there in day VMC when the master caution light illuminated associated with low output pressure of both main tank fuel pumps. The flight crew then observed that the centre tank fuel pump switches on the forward overhead panel were selected to the OFF position and he immediately selected them to the ON position. The flight was completed without further event.

JS41, en-route, North West of Aberdeen UK, 2008On 9 April 2008, a BAe Jetstream 41 departed Aberdeen in snow and freezing conditions after the Captain had elected not to have the airframe de/anti iced having noted had noted the delay this would incur. During the climb in IMC, pitch control became problematic and an emergency was declared. Full control was subsequently regained in warmer air. The Investigation concluded that it was highly likely that prior to take off, slush and/or ice had been present on the horizontal tail surfaces and that, as the aircraft entered colder air at altitude, this contamination had restricted the mechanical pitch control.




Related Articles

Personnel Licensing
Flight Crew Licensing
EASA Regulatory Instruments
EU-OPS

Further Reading

Commission Regulation (EU) No 1178/2011 laying down technical requirements and administrative procedures related to civil aviation aircrew
AMC and GM to Part-MED (inital issue 15 December 2011)





Categories


Personnel Licensing












Feedback